// Version resource for the C API DLL.
//
#include "winres.h"
#include "verrsrc.h"

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,4,8,2
 PRODUCTVERSION 0,4,8,2
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404B0"
        BEGIN
            VALUE "CompanyName", "op"
            VALUE "FileDescription", "op C API DLL"
            VALUE "FileVersion", "0.4.8.2"
            VALUE "InternalName", "op_c_api.dll"
            VALUE "OriginalFilename", "op_c_api.dll"
            VALUE "ProductName", "op"
            VALUE "ProductVersion", "0.4.8.2"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END
